<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
		<title>RWH Meetup</title>
	</head>
	<body class="min-h-screen">
		<%- include('./partials/header.ejs') %>
		<main class="my-5 flex flex-col gap-2 justify-center items-center">
			<%- include('./partials/flash.ejs') %>
			<h1 class="text-8xl font-bold"><%= err.status %></h1>
			<p><%= err.message %></p>
		</main>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
